body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    color: #333;
}

header {
    background-color: #ffd369;
    color: black;
    padding: 1rem 0;
    text-align: center;
}

.imagem{
    height: 200px;
    width: 500px;
    justify-self: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
nav a {
    text-decoration: none;
    color: #393E46;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    background-color: #fff;
    margin: 1rem auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
footer a {
    color: #f4f4f4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

img{
    display: inline-block;
    margin: auto;
    width: 40%;
}

.segundaImagem{
    width: 48%;
    margin-left: 50px;
}

.sla{
    width: 50%;
    margin-left: 50px;
}

#sobre img {
    display: inline-block;
    margin: auto;
    width: 40%;
}

#quebra-cabeca-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.board div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    transition: all 0.3s ease;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #ffd369;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffcc00;
}

#congratulations-message {
    font-size: 20px;
    color: green;
    font-weight: bold;
}